:root {
  --color-background: #ffffff;
  --color-soft-yellow: #e0c3fc;
  --color-hitam: #000000;
  --color-abu: #c2e9fb;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-background);
}

.navbar {
  background-color: var(--color-background);
}

.navbar .judul-web {
  color: var(--color-hitam);
  font-weight: 700;
  font-size: 1.7rem;
  font-style: italic;
}

.navbar .judul-web span {
  color: var(--color-soft-yellow);
}

.navbar .navbar-nav .nav-link {
  color: var(--color-hitam);
  font-weight: 300;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--color-soft-yellow);
}

.hero {
  margin-top: 4rem;
  background: linear-gradient(135deg, #c2e9fb, #e0c3fc);
  color: #333;
  padding: 80px 0;
  text-align: center;
}

.hero h1 {
  font-weight: 700;
  font-size: 2.8rem;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
}

img.rounded-circle {
  width: 350px;
  height: auto;
}

.img-fluid {
  width: 400px;
  height: auto;
}

.section {
  padding: 60px 0;
}

.icon-box {
  font-size: 2rem;
  color: #6f42c1;
  margin-bottom: 15px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 3rem 0;
}

.btn-ungu {
  background-color: var(--color-soft-yellow);
}
